<div class="card-wrap">
  <div class="card{{#if _disabled}} disabled{{/if}}" data-key="{{_key}}" data-id="{{_id}}"
    data-type="{{_data.type}}" data-ability="{{_data.ability}}">
      <div class="card-effect-locator">
    <div class="card-animation"></div>
      <div class="card-locator normal-card-locator">
    {{#if _data.skinFaction}}
      <i class="card-lg-{{_data.skinFaction}} card-lg-{{_data.skinFaction}}__{{_data.img}}"></i>
    {{else}}
      <i class="card-lg-{{_data.faction}} card-lg-{{_data.faction}}__{{_data.img}}"></i>
    {{/if}}
      </div>
    <div class="overlay-card"></div>
      </div>
      <div class="shadow"></div>
  </div>
</div>