<div class="card-wrap">
  <div class="card{{#if _disabled}} disabled{{/if}}" data-key="{{_key}}" data-id="{{_id}}"
    data-type="{{_data.type}}" data-ability="{{_data.ability}}">
    <div class="card-animation"></div>
    <i class="card-md-{{_data.faction}} card-md-{{_data.faction}}-{{_data.img}}"></i>
    <div class="shadow"></div>
    <div class="overlay-card"></div>
  </div>
</div>