<div class="card-cell{{#if _disabled}} disabled{{/if}}" data-key="{{_key}}"
    data-type="{{_data.type}}" data-ability="{{_data.ability}}">
    {{#if _showCount}}
    <div class="card-count">
      <i class="card-icon"/>
      <span class="count-text">x{{_count}}</span>
    </div>
    {{/if}}
    {{#if _showPrice}}
    <div class="card-price">
      ${{_price}}
    </div>
    {{/if}}
  <div class="card-animation"></div>
  <i class="card-{{#if large}}lg{{else}}md{{/if}}-{{_data.faction}} card-{{#if large}}lg{{else}}md{{/if}}-{{_data.faction}}-{{_data.img}}"></i>
  <div class="shadow"></div>
  <div class="overlay-card"></div>
</div>