<div class="card-cell{{#if _disabled}} disabled{{/if}}" data-key="{{_key}}"
    data-type="{{_data.type}}" data-ability="{{_data.ability}}">
    {{#if _showCount}}
    <div class="card-count">
      <i class="card-icon"/>
      <span class="count-text">x{{_count}}</span>
    </div>
    {{/if}}
    {{#if _showPrice}}
    <div class="card-price">
      ${{_price}}
    </div>
    {{/if}}
  <div class="card-animation"></div>
    <div class="card-locator collection-card-locator">
  {{#if _data.skinFaction}}
    <i class="card-lg-{{_data.skinFaction}} card-lg-{{_data.skinFaction}}__{{_data.img}}"></i>
  {{else}}
    <i class="card-lg-{{_data.faction}} card-lg-{{_data.faction}}__{{_data.img}}"></i>
  {{/if}}
    </div>
  <div class="shadow"></div>
  <div class="overlay-card"></div>
</div>