{{#each this}}
  <div class="card{{#if _disabled}} disabled{{/if}} {{#if _highlight}} active-field{{/if}}" 
    data-key="{{_key}}" data-id="{{_id}}"  data-ability="{{_data.ability}}" 
    data-bondtype="{{_data.bondType}}" data-mustertype="{{_data.musterType}}"
    data-diff="{{diffPos}}">
    {{#if diff}}
      <span class="card-attr-power {{#if diffPos}}card-attr-positive{{/if}}">
        <span>{{power}}</span>
      </span>
    {{/if}}
    {{#if _data.skinFaction}}
      <i class="card-md-{{_data.skinFaction}} card-md-{{_data.skinFaction}}__{{_data.img}}"></i>
    {{else}}
      <i class="card-md-{{_data.faction}} card-md-{{_data.faction}}__{{_data.img}}"></i>
    {{/if}}
  </div>
{{/each}}