<div class="col-xs-12 field-single field-leader">
  {{>card leader}}
  {{#if passBtn}}
  <div class="button-pass-wrap">
    <div class="countdown-timer {{#if hideTimer}}hidden{{/if}} {{#if danger}}countdown-timer-danger{{/if}}">
      {{timeLeft}}
    </div>
    <button class="btn btn-warning button-pass">{{i18n "pass"}}</button>
  </div>
  {{/if}}
  {{#if switchBtn}}
  <div class="button-pass-wrap">
    <button class="btn btn-success button-switch">{{i18n "switch_player"}}</button>
  </div>
  {{/if}}
</div>
<div class="col-xs-12 info-inner {{#if passBtn}}active-field{{/if}}">
  <div class="col-xs-8 info-name">{{data.name}}</div>
  <div class="col-xs-4 passing">{{#if data.passing}}{{i18n "passed"}}{{/if}}</div>
  <h5 class="col-xs-12 info-deck">{{deck}}</h5>
  <div class="col-xs-12 info-others">
    <div class="hand-card-wrapper">
      <div class="info-title"></div>
      <div class="hand-card">{{data.hand}}</div>
    </div>
    <div class="gwent-lives">
      {{#health data.lives}}
      {{/health}}
    </div>
    <div class="score">{{data.score}}</div>
  </div>
</div>