<style>

  .startMatchmaking {
  padding: 0;
  }

  .startMatchmakingWithBot {
  padding: 0;
  background: #01acc6;
  }

  .btnCollection {
    background: #09c237;
  }

  .status-offline {
    color: red;
  }

  .status-online {
    color: green;
  }
</style>

<div class="lobby">
  <div class="lobby-header">
    <a>{{userModel.username}}</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a>{{i18n "log_out"}}</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a>{{i18n "scoreboard"}}</a>
  </div>
  <div class="lobby-main">
    <div class="col-xs-6 kanban"></div>
    <div class="col-xs-6 lobby-panel">
      <div class="panel-row">
        <div class="panel-btn panel-btn-sm btnCollection">
          <div class="btn-text">編成</div>
          <div class="btn-background-partial btn-collection"></div>
        </div>
      </div>
      <p class="subtitle">練習</p>
      <div class="panel-row">
        <div class="panel-btn panel-btn-sm wrap-btn-action startMatchmakingWithBot">
          <div class="btn-text">{{i18n "bot"}}</div>
          <div class="btn-background-partial btn-startMatchWithBot"></div>
        </div>
        <div class="panel-btn panel-btn-sm wrap-btn-action startMatchmaking">
          <div class="btn-text">{{i18n "matching"}}</div>
          <div class="image-gif-loader"></div>
          <div class="btn-background-partial btn-startMatch"></div>
        </div>
      </div>
      <p class="subtitle">コンクール</p>
      <div class="panel-row">
        <div class="panel-btn btnContest" data-scenario="kyoto">
          <div class="btn-text">{{i18n "scenario_kyoto"}}</div>
          <div class="btn-background btn-kyoto">
          </div>
        </div>
        <div class="panel-btn btnContest" data-scenario="kansai">
          <div class="btn-text">{{i18n "scenario_kansai"}}</div>
          <div class="btn-background btn-kansai">
          </div>
        </div>
        <div class="panel-btn btnContest" data-scenario="zenkoku">
          <div class="btn-text">{{i18n "scenario_zenkoku"}}</div>
          <div class="btn-background btn-zenkoku">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="lobby-footer">
    {{#if serverOffline}}
      <span>{{i18n "server_stat"}}<span class="status-offline">{{i18n "offline"}}</span></span>
    {{else}}
      <span>{{i18n "online_count"}}<span class="nr-player-online">0</span></span>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <span>{{i18n "idle_count"}}<span class="nr-player-idle">0</span></span>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <span>{{i18n "server_stat"}}<span class="status-online">{{i18n "online"}}</span></span>
    {{/if}}
  </div>
</div>

{{!-- <section class="container-landing">
  <div class="wrap-landing">
    <img src="/assets/texture/eupho_matsuri.jpeg" height="300" alt="Gwent" class="logo-big">

    <div class="container-form-landing">

      <input type="text" placeholder="{{i18n "room_name"}}" class="field-session field-username room-name-input">

      <input type="text" placeholder="{{i18n "username"}}" class="field-session field-username name-input" autofocus value="{{name}}">

      <select id="deckChoice" class="field-session">
        <option value="random">{{i18n "deck_random"}}</option>
        <option value="kumiko1">{{i18n "deck_ku1"}}</option>
        <option value="kumiko1_2">{{i18n "deck_ku1_all_star"}}</option>
        <option value="kumiko1S2">{{i18n "deck_ku1S2"}}</option>
        <option value="kumiko1S2_2">{{i18n "deck_ku1S2_all_star"}}</option>
        <option value="kitauji">{{i18n "deck_ku2"}}</option>
        <option value="kitauji2">{{i18n "deck_ku2_all_star"}}</option>
        <option value="custom">{{i18n "deck_custom"}}</option>
      </select>
    </div>
    <div class="container-form-landing" style="margin-top:10px">
      <div class="wrap-btn-action btn-register-action startMatchmakingWithBot">
        <input type="submit" value="{{i18n "bot"}}" class="btn-action">
      </div>
      <div class="wrap-btn-action btn-register-action startMatchmaking">
        <input type="submit" value="{{i18n "matching"}}" class="btn-action">
        <i class="icon-action-load image-gif-loader"></i>
      </div>
    </div>
  </div>
</section> --}}
