<style>

  .startMatchmaking {
  padding: 0;
  }

  .startMatchmakingWithBot {
  padding: 0;
  background: #01acc6;
  }

  .playerSquare {
    padding: 0;
    background: #C78D6B;
  }

  .btnCollection {
    background: #09c237;
  }

  .btnLuckyDraw {
    background: #cc889a;
  }

  .btnReplay {
    background: #e2492f;
  }

  .status-offline {
    color: red;
  }

  .status-online {
    color: green;
  }
</style>

<div class="lobby">
  <div class="lobby-header">
    <a id="username">{{userModel.username}}</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a id="logout">{{i18n "log_out"}}</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a id="ranking">{{i18n "scoreboard"}}</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a id="wallet">{{i18n "fee"}}: {{userModel.wallet}}</a>
  </div>
  <div class="lobby-main">
    <div class="col-xs-6 kanban"></div>
    <div class="col-xs-6 lobby-panel">
      <div class="panel-row">
        <div class="panel-btn panel-btn-sm btnCollection" data-step="1" data-intro="这里可以查看和设置阵容">
          <div class="btn-text">{{i18n "my_deck"}}</div>
          <div class="btn-background-partial btn-collection"></div>
        </div>
        <div class="panel-btn panel-btn-sm btnLuckyDraw">
          <div class="btn-text">{{i18n "lucky_draw"}}</div>
          <div class="btn-background-partial btn-luckyDraw"></div>
        </div>
        <input type="file" id="gameReplayFile" accept=".kumiko" style="display:none">
        <div class="panel-btn panel-btn-sm btnReplay">
          <div class="btn-text">{{i18n "replay"}}</div>
          <div class="btn-background-partial btn-replay"></div>
        </div>
      </div>
      <p class="subtitle">{{i18n "practice"}}</p>
      <div class="panel-row">
        <div id="startMatchmakingWithBot" class="panel-btn panel-btn-sm wrap-btn-action startMatchmakingWithBot">
          <div class="btn-text">{{i18n "bot"}}</div>
          <div class="btn-background-partial btn-startMatchWithBot"></div>
        </div>
        <div id="playerSquare" class="panel-btn panel-btn-sm wrap-btn-action playerSquare">
          <div class="btn-text">{{i18n "player_square"}}</div>
          <div class="image-gif-loader"></div>
          <div class="btn-background-partial btn-startMatch"></div>
        </div>
      </div>
      <p class="subtitle">{{i18n "contest"}}</p>
      <div class="panel-row">
        <div class="panel-btn btnContest disabled" data-scenario="kyoto" data-step="2" data-intro="准备好了之后，点击这里参加大赛吧">
          <div class="quest-reset">
            <span class="glyphicon glyphicon-repeat btn-reset"></span>
          </div>
          <div class="quest-progress">
            <span class="progress-text"></span>
          </div>
          <div class="btn-text">{{i18n "scenario_kyoto"}}</div>
          <div class="btn-background btn-kyoto">
          </div>
        </div>
        <div class="panel-btn btnContest disabled" data-scenario="kansai">
          <div class="quest-reset">
            <span class="glyphicon glyphicon-repeat btn-reset"></span>
          </div>
          <div class="quest-progress">
            <span class="progress-text"></span>
          </div>
          <div class="btn-text">{{i18n "scenario_kansai"}}</div>
          <div class="btn-background btn-kansai">
          </div>
        </div>
        <div class="panel-btn btnContest disabled" data-scenario="zenkoku">
          <div class="quest-reset">
            <span class="glyphicon glyphicon-repeat btn-reset"></span>
          </div>
          <div class="quest-progress">
            <span class="progress-text"></span>
          </div>
          <div class="btn-text">{{i18n "scenario_zenkoku"}}</div>
          <div class="btn-background btn-zenkoku">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="lobby-footer">
    {{#if serverOffline}}
      <span>{{i18n "server_stat"}}<span class="status-offline">{{i18n "offline"}}</span></span>
    {{else}}
      <span>{{i18n "online_count"}}<span class="nr-player-online">0</span></span>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <span>{{i18n "idle_count"}}<span class="nr-player-idle">0</span></span>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <span>{{i18n "server_stat"}}<span class="status-online">{{i18n "online"}}</span></span>
    {{/if}}
  </div>
</div>
