<div class="bbm-modal__topbar">
  <h3 class="bbm-modal__title">{{i18n "scoreboard"}}</h3>
</div>
<div class="bbm-modal__section ranking-modal-content">
  <div class="ranking-table">
    <table>
      <tr>
        <th>{{i18n "rank"}}</th>
        <th>{{i18n "player"}}</th>
        <th>{{i18n "win_count"}}</th>
        <th>{{i18n "lose_count"}}</th>
      </tr>
      {{#each ranking}}
      <tr class="{{#if this.isMe}}isMe{{/if}}">
        <td>{{this.rank}}</td>
        <td>{{this.username}}({{this.bandName}})</td>
        <td>{{this.winCount}}</td>
        <td>{{this.loseCount}}</td>
      </tr>
      {{/each}}
      {{#if noMe}}
      <tr>
        <td>...</td>
      </tr>
      <tr class="isMe">
        <td>{{me.rank}}</td>
        <td>{{me.username}}({{me.bandName}})</td>
        <td>{{me.winCount}}</td>
        <td>{{me.loseCount}}</td>
      </tr>
      {{/if}}
    </table>
  </div>
</div>
<div class="bbm-modal__topbar">
  <span class="btn-sub bbm-close">{{i18n "close"}}</span>
</div>
