<div class="bbm-modal__topbar">
  <h3 class="bbm-modal__title">{{i18n "scoreboard"}}</h3>
</div>
<div class="bbm-modal__section ranking-modal-content">
  <h4>{{i18n "my_rank"}}: {{myRank}}</h4>
  <div class="ranking-table">
    <table>
      <tr>
        <th>{{i18n "rank"}}</th>
        <th>{{i18n "name"}}</th>
        <th>{{i18n "win_count"}}</th>
        <th>{{i18n "lose_count"}}</th>
      </tr>
      {{#each ranking}}
      <tr>
        <td>{{this.rank}}</td>
        <td>{{this.username}}({{this.bandName}})</td>
        <td>{{this.winCount}}</td>
        <td>{{this.loseCount}}</td>
      </tr>
      {{/each}}
    </table>
  </div>
</div>
<div class="bbm-modal__topbar">
  <span class="btn-sub bbm-close">{{i18n "close"}}</span>
</div>
