<div class="bbm-modal__topbar">
  <h3 class="bbm-modal__title">{{i18n "game_over"}}</h3>
</div>
<div class="bbm-modal__section">
  <h1>{{winner}} {{i18n "win_the_game"}}</h1>
  <div class="score-board">
    <div class="col-xs-12 score-row">
      <div class="col-xs-4 {{#if p1_win_1}}win-game{{/if}}">{{p1_1}}</div>
      <div class="col-xs-4 {{#if p1_win_2}}win-game{{/if}}">{{p1_2}}</div>
      <div class="col-xs-4 {{#if p1_win_3}}win-game{{/if}}">{{p1_3}}</div>
    </div>
    <div class="col-xs-12 score-row">
      <div class="col-xs-4 {{#if p2_win_1}}win-game{{/if}}">{{p2_1}}</div>
      <div class="col-xs-4 {{#if p2_win_2}}win-game{{/if}}">{{p2_2}}</div>
      <div class="col-xs-4 {{#if p2_win_3}}win-game{{/if}}">{{p2_3}}</div>
    </div>
  </div>
  <p>{{i18n "open_source"}} <a href="https://github.com/kitauji-gwent/kitauji-gwent" target="_blank">kitauji-gwent</a>.</p>

  <p><b>Thanks for playing the game!</b></p>
  <div class="wrap-btn-action btn-register-action startMatchmaking">
    <input type="submit" value="{{i18n "one_more_game"}}" class="btn-action">
  </div>
</div>

<style>
  .startMatchmaking {
    line-height: 30px;
    width: auto;
    margin-top: 30px;
  }
  .score-row {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .win-game {
    color: white;
    font-weight: bold;
  }
</style>
