{{#if _data.skinFaction}}
  <i class="card-{{this.size}}-{{card.skinFaction}} card-{{this.size}}-{{card.skinFaction}}-{{card.img}}"></i>
{{else}}
  <i class="card-{{this.size}}-{{card.faction}} card-{{this.size}}-{{card.faction}}-{{card.img}}"></i>
{{/if}}
<div class="preview-description {{#if previewB}}preview-b{{/if}}">
  <p>{{card.name}}</p>
  {{#each abilities as |val key|}}
    <p>{{val}}</p>
  {{/each}}
  {{#if hasRelatedCards}}
  <p>{{i18n "related_card"}}
    {{#each relatedCards as |val key|}}
    <span class="related-card {{#if val.owned}}owned{{/if}}">{{val.name}}&nbsp;</span>
    {{/each}}
  </p>
  {{/if}}
</div>