<button class="btn btn-danger button-quit">Quit</button>
<div class="comp-container">
  <div class="panel-container">
    <div class="panel panel-dark">
    <div class="panel-heading panel-heading-reverse">
      {{#if isAdmin}}
      <button class="btn btn-success button-create">
        <span class="glyphicon glyphicon-plus"></span>
        {{i18n "make_comp"}}
      </button>
      {{/if}}
      <button class="btn btn-default button-refresh">
        <span class="glyphicon glyphicon-refresh"></span>
      </button>
    </div>
    <!-- Table -->
    <table class="table table-hover-custom table-dark room-list">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">{{i18n "comp_name"}}</th>
        <th scope="col">{{i18n "comp_time"}}</th>
        <th scope="col">{{i18n "game_mode"}}</th>
        <th scope="col">{{i18n "status"}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each comps}}
      <tr class="one-comp {{#if selected}}selected{{/if}}" data-id="{{this.id}}">
        <th scope="col">{{this.index}}</th>
        <td>{{this.name}}</td>
        <td>{{this.timeStr}}</td>
        <td>{{this.modeStr}}</td>
        <td>{{i18n this.state}}</td>
      </tr>
      {{/each}}
    </tbody>
    </table>
    </div>
    <div class="panel panel-dark">
      {{!-- <div class="panel-heading">活动详情</div> --}}
      <div class="panel-body">
        <div class="event-title">
          <span class="title">{{comp.name}}</span>
          <span class="watermark">画师：河豚</span>
        </div>
        <h4>{{i18n "comp_time"}}</h4>
        <p>{{comp.timeStr}}</p>
        <h4>{{i18n "game_mode"}}</h4>
        <p>{{comp.modeStr}}</p>
        <h4>报名人数</h4>
        <p>{{comp.playerNum}}/{{comp.capacity}}</p>
        <h4>参赛人员</h4>
        <p>{{comp.playerStr}}</p>
        <h4>比赛结果</h4>
        <table class="competition-result">
        {{#each comp.report}}
          <tr>
            <td>
              {{this.name}}
            </td>
            <td class="{{this.className}}">
              {{this.price}}
            </td>
          </tr>
        {{/each}}
        </table>
      </div>
      <div class="panel-footer">
        {{#if isAdmin}}
        <button class="btn btn-danger btn-comp-delete">
          {{i18n "delete"}}
        </button>
        {{/if}}
        {{#if comp.canEnroll}}
        <button class="btn btn-info btn-comp-enroll">
          {{i18n "comp_enroll"}}
        </button>
        {{/if}}
        {{#if comp.canQuit}}
        <button class="btn btn-warning btn-comp-quit">
          {{i18n "comp_quit"}}
        </button>
        {{/if}}
        {{#if comp.canEnter}}
        <button class="btn btn-success btn-comp-enter">
          {{i18n "comp_enter"}}
        </button>
        {{/if}}
        {{#if comp.readonly}}
        {{comp.infoText}}
        {{/if}}
      </div>
    </div>
  </div>
  <div class="lobby-footer">
    <span>{{i18n "online_count"}}<span class="nr-player-online">0</span></span>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <span>{{i18n "idle_count"}}<span class="nr-player-idle">0</span></span>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <span>{{i18n "server_stat"}}<span class="status-online">{{i18n "online"}}</span></span>
  </div>
</div>