<button class="btn btn-danger button-quit">Quit</button>
<div class="tree-container">
  <div class="panel panel-dark">
  <div class="panel-heading">
    {{comp.name}}
    <button class="btn btn-default button-locate">
      <span class="glyphicon glyphicon-screenshot"></span>
    </button>
    <button class="btn btn-default button-refresh">
      <span class="glyphicon glyphicon-refresh"></span>
    </button>
  </div>
  <div class="panel-body">
    <table class="table table-dark tree">
    <tbody>
      {{#treeTable comp}}
      {{/treeTable}}
    </tbody>
    </table>
  </div>
  </div>
  <div class="lobby-footer">
    <span>{{i18n "online_count"}}<span class="nr-player-online">0</span></span>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <span>{{i18n "idle_count"}}<span class="nr-player-idle">0</span></span>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <span>{{i18n "server_stat"}}<span class="status-online">{{i18n "online"}}</span></span>
  </div>
</div>