<style>
  .bbm-modal__section {
    color: white;
  }
  .help-block {
    margin-bottom: 0;
  }
</style>
<div class="bbm-modal__topbar">
  <h3 class="bbm-modal__title">{{i18n "make_room"}}</h3>
</div>
<div class="bbm-modal__section small-cards-modal">
  <form class="form-horizontal">
    <div class="form-group">
      <label for="roomName" class="col-sm-2 control-label">{{i18n "room_name"}}</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="roomName" placeholder="{{i18n "optional"}}">
      </div>
    </div>
    {{!-- TOOD: room mode --}}
    <div class="form-group">
      <label for="roomName" class="col-sm-2 control-label">{{i18n "game_mode"}}</label>
      <div class="col-sm-10">
        <div class="radio">
        <label>
          <input type="radio" name="mode" id="defaultMode" value="defaultMode" checked>
          {{i18n "defaultMode"}}
          <span class="help-block">{{i18n "default_mode_desc"}}</span>
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="mode" id="funMode" value="funMode">
          {{i18n "funMode"}}
          <span class="help-block">{{i18n "fun_mode_desc"}}</span>
        </label>
      </div>
      </div>
    </div>
    <div class="form-group">
      <label for="funDeck" class="col-sm-2 control-label"></label>
      <div class="col-sm-10 hidden">
        <select name="funDeck" id="funDeck" class="form-control">
          {{#each funDecks}}
            <option value="{{this.key}}">{{this.name}}</option>
          {{/each}}
        </select>
        <span id="funDeckDesc" class="help-block">{{initialDeckDesc}}</span>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-10 col-sm-2">
        <div id="btnConfirm" class="btn btn-success" style="float: right;">{{i18n "confirm"}}</div>
      </div>
    </div>
  </form>
</div>
