<button class="btn btn-danger button-quit">Quit</button>
<div class="room-container">
  <div class="panel panel-dark">
  <div class="panel-heading">
    <button class="btn btn-success button-create">Create</button>
  </div>
  <!-- Table -->
  <table class="table table-striped table-hover-custom table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Room Name</th>
      <th scope="col">Capacity</th>
      <th scope="col">Player</th>
    </tr>
  </thead>
  <tbody>
    {{#each rooms}}
    <tr class="one-room" data-id="{{this.id}}">
      <th scope="col">{{this.index}}</th>
      <td>{{this.roomName}}</td>
      <td>{{this.playerNum}}/2</td>
      <td>{{this.players}}</td>
    </tr>
    {{/each}}
  </tbody>
  </table>
</div>
</div>